### Exercise 1:
Create a function called "count_simba" that counts and returns the number of times that Simba appears in a list of strings. Example: "Simba and Nala are lions.", "I laugh in the face of danger.",  "Hakuna matata", "Timon, Pumba and Simba are friends, but Simba could eat the other two."

In [6]:
from functools import reduce
listofstrings = ["Simba and Nala are lions.", "I laugh in the face of danger.", "Hakuna matata", "Timon, Pumba and Simba are friends, but Simba could eat the other two"]

def count_simba(listofstrings,word): # Function takes a list of strings and counts how many times a certain word appears in the list
    counts_list = list(map(lambda single_string: single_string.count(word), listofstrings)) # Outputs a list of numbers that represent the count of the word in each string
    count = reduce(lambda x,y: x+y, counts_list) # Adds up the numbers in the list produced above
    print(f"The word '{word}' appears {count} times.")

#user_word = input("Enter word: ") #This line will run in a .py file, but need to change "Simba" in next line to user_word
count_simba(listofstrings,"Simba")

The word 'Simba' appears 3 times.

### Exercise 2:
Create a function called "get_day_month_year" that takes a list of datetimes.date and returns a pandas dataframe with 3 columns (day, month, year) in which each of the rows is an element of the input list and has as value its  day, month, and year.

In [5]:
import pandas as pd
import datetime 
from datetime import date
from functools import reduce

num_of_dates = 10
today = datetime.datetime.today()
date_list = [date.today() + datetime.timedelta(days=x) for x in range(num_of_dates)]

def get_day_month_year(dates):
    day_month_year = list(map(lambda dmy: {'day': dmy.day, 'month': dmy.month, 'year': dmy.year}, dates)) # Use map to extract the day, month, and year from each date in the list
    #day_month_year_list = reduce(lambda acc, x: acc + [x], day_month_year, []) # Reduce the mapped results to a list of dictionaries
    
# Create a pandas DataFrame from the list of dictionaries
    df = pd.DataFrame(day_month_year)
    dates = date_list  
    return df

get_day_month_year(date_list)

   day  month  year
0   16     10  2024
1   17     10  2024
2   18     10  2024
3   19     10  2024
4   20     10  2024
5   21     10  2024
6   22     10  2024
7   23     10  2024
8   24     10  2024
9   25     10  2024

### Exercise 3:
Create a function called "compute_distance" that takes a list of tuple pairs with latitude and longitude coordinates and returns a list with the distance between the two pairs example input: [((41.23,23.5), (41.5, 23.4)), ((52.38, 20.1),(52.3, 17.8))] HINT: You can use geopy.distance in order to compute the distance

### Exercise 4:
Consider a list that each element can be an integer or a list that contains integers or more lists with integers example: [[2], 4, 5, [1, [2], [3, 5, [7,8]], 10], 1]. Create a recursive function called "sum_general_int_list" that takes as input this type of list and returns the sum of all the integers within the lists for instance for list_1=[[2], 3, [[1,2],5]] the result should be 13.